<div>
  <div class="banner">
    <img
      alt="banner"
      class="banner-img"
      srcset="
        ./assets/img/banner-1024.jpg 1024w,
        ./assets/img/banner-512.jpg   512w
      "
      sizes="(max-width: 600px) 512px, 1024px"
    />
  </div>
  <article style="margin: 0 16px">
    <h2>Cadmus GISARC</h2>
    <p>
      Welcome to the GISARC project data editor. Access to this site is
      restricted to authorised users.
    </p>
    <p>
      GISARC (Greek in Sicily after the Roman Conquest) is a 2-year research
      project receiving funding from the European Union’s Horizon 2020 research
      and innovation programme under the Marie Skłodowska-Curie grant agreement
      no. 101018554, and hosted at
      <a href="https://www.unive.it" target="_blank" rel="noopener"
        >Ca’ Foscari University of Venice</a
      >
      (Italy). Livia Tagliapietra is the Principal Investigator.
    </p>
    <p>
      The project aims to investigate the impact of Roman domination on the
      Greek language in Sicily through the analysis of all the published Greek,
      Latin and bilingual inscriptions dating between ca.300 BCE and ca.400 CE
      that we have from the island. A digital interactive database of the
      inscriptions analysed for this research is being developed as part of the
      project. Once completed, this will be an important resource for anyone
      interested in researching language contact, multilingualism and epigraphic
      habit in Roman Sicily.
    </p>
  </article>
</div>
